<p>form works!</p>

<div>qui nome: {{ nome }}</div>
<div [innerText]="nome"></div>

<input type="text" [value]="nome" (input)="onInput($event)">
<input type="text" [value]="nome" (input)="onInput($event)">

<h3>aggingi input e collega tramite binding bi-direzionale</h3>

<p>
<input [(ngModel)]="nome">
</p>

<p>
    <input placeholder="cognome" #cognomeRef>
    <input placeholder="indirizzo" #indirizzoRef>
    <button (click)="onMandaForm(cognomeRef,indirizzoRef)">Manda form</button>
</p>


<p>
<input [(ngModel)]="nome">
</p>

<p>
    <input placeholder="cognome" #cognomeRef>
    <input placeholder="indirizzo" #indirizzoRef>
    <button (click)="onMandaForm(cognomeRef,indirizzoRef)">Manda form</button>
</p>


<p>
    <input placeholder="citta" #cittaRef>
    <button (click)="onMandaCitta()">Manda citta</button>
</p>