<h1>Angular Corso</h1>

<!--
<h3> {{ randomName }} </h3>

<button
    title="My button"
    (click)="onChangeName()"
    class="btn btn-primary"
    data-mdb-ripple-color="dark">
    Get Random Name
</button>

<app-post (generateEvent)="onReceiveEvent($event, 'Pippo')" [ti] = "randomName"></app-post>
<app-post (generateEvent)="onReceiveEvent($event)" ti="Naruto"></app-post>
<app-post (generateEvent)="onReceiveEvent($event)" ti="Bleach"></app-post>

<app-form></app-form>
-->

<app-accordion title = "Title Number 1">
    <h5>Testo 1 scritto da App Component.</h5>
</app-accordion>
<app-accordion title = "Title Number 2">
    <h5>Testo 2 scritto da App Component.</h5>
</app-accordion>
<app-accordion title = "Title Number 3">
    <h5>Testo 3 scritto da App Component.</h5>
</app-accordion>