<h1>Angular Corso</h1>

<!-- <app-form></app-form>

<br><br><br><hr><br><br> -->

<app-accordion>
    DEVE MOSTRARE QUESTO <br>
    DEVE MOSTRARE QUESTO <br>
    DEVE MOSTRARE QUESTO <br>
    DEVE MOSTRARE QUESTO
</app-accordion>

<app-accordion>
    DEVE MOSTRARE QUESTO <br>
    DEVE MOSTRARE QUESTO <br>
    DEVE MOSTRARE QUESTO <br>
    DEVE MOSTRARE QUESTO
</app-accordion>

<app-accordion>
    DEVE MOSTRARE QUESTO <br>
    DEVE MOSTRARE QUESTO <br>
    DEVE MOSTRARE QUESTO <br>
    DEVE MOSTRARE QUESTO
</app-accordion>

