


<p>posts works!</p>

<!-- string interpolation di proprietà -->
<div>qui titolo: {{ titolo }}</div>

<!-- property binding di proprietà -->
<div [innerText]="titolo"></div>

<!-- onPremuto event binding di metodo -->
<!-- bottoneDisabilitato property binding di metodo -->
<button 
(click)="onPremuto()" 
[disabled]="bottoneDisabilitato()">
    Aggiungi post
</button>

<!-- binding mono-direzionale verso value (property binding di titolo) da titolo -> value -->
<!-- binding mono-direzionale verso value (property binding di titolo) da evento verso onModificatoInput -->
<input
 name="titolo" 
 [value]="titolo"
 (input)="onModificatoInput($event)">

 <!-- binding bi-direzionale -->
 <input 
 name="testo" 
 [(ngModel)]="testo">

 <!-- core directive ngFor - ngIf - ngModel -->
 <div *ngFor="let post of posts">
    <h5>{{ post.titolo }}</h5>
    <p *ngIf="post.titolo === 'Ciao'">Hai salutato</p>
</div>

